

<% if user_signed_in? %>
  <h1>Hello <%= current_user.username %></h1>
  <div class="">
    Connecté(e) !
  </div>
  <div class="">
    <%= link_to "Profil", profile_path %>
    <%= link_to "Déconnexion", destroy_user_session_path, :method => 'delete' %>
  </div>
<% else %>
  <h1>Hello Biatch !</h1>
  <%= link_to "Inscription", new_user_registration_path %>
  <%= link_to "Connexion", new_user_session_path %>
<% end %>
